* {
    margin: 0;
    padding: 0;
}

/* common styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* styles for banner */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    max-width: 1920px;
    height: 850px;
    margin: 0 auto;
}

.banner-content {
    /* max-width: 708px; */
    margin: 137px 0px 95px 200px;
}

.banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 32px;
}

.button-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    border: 0px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

.banner-image {
    background-image: url('../images/pngwing-10.png');
    height: 800px;
    width: 635px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    margin-top: 50px;
    margin-left: 97px;
}

/* main  */
/* featured flower related styles */
.section {
    margin: 0 auto;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 700;    
    margin-bottom: 24px;
}

.featured-flowers-top .section-title{
    margin-top: 178px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 48px;
}

.featured-flower-images {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
}

.featured-flower-bg-one,
.featured-flower-bg-two,
.featured-flower-bg-three {
    height: 538px;
    width: 464px;
    border-radius: 300px 300px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-flower-bg-one {
    background: rgba(167, 33, 98, 0.15);
}

.featured-flower-bg-two {
    background: rgba(5, 151, 160, 0.15);
}

.featured-flower-bg-three {
    background: rgba(71, 125, 17, 0.15);
}



.featured-image-one {
    margin-top: 110px;
}

.featured-image-two {
    margin-top: 117px;
}

.featured-image-three {
    margin-top: 67px;
}

.featured-flower-text {
    margin-top: 32px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.featured-flowers {
    margin-bottom: 128px;
}

.special-features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: 320px;
    width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.special-features img {
    margin-top: 86px;
}

.special-features p {
    margin-top: 24px;
    margin-bottom: 128px;
}


/* hot deal related style  */
.hot-deal-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 128px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    text-align: center;
    max-width: 1920px;
    height: 850px;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-top: 230px;
    margin-bottom: 24px;
}

.hot-deal-left span {
    color: #E55473;
}

.hot-deal-left p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    line-height: 30px;
    margin-bottom: 32px;
}

.hot-deal-left button {
    margin-bottom: 182px;
}

/* instagram related styles */
.instagram-flowers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    /* margin-bottom: 128px; */
}

.social-media-section .section-title{
    margin-top: 128px;
}

/* latest deal related styles  */
.latest-deal-section {
    background-image: url('../images/rectangle-9.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 449px;
    margin: 0 auto;
}

.latest-deal-container .section-title {

    margin-top: 128px;  
    padding-top: 122px;
    padding-bottom: 16px; 
}

.latest-deal-container .section-description {
    padding-bottom: 48px;
    margin-bottom: 0px;
}

.latest-deal-container form {
    text-align: center;
}

.latest-deal-container .user-input {
    border-radius: 8px;
    border: 0px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    padding: 23px 513px 22px 22px;
}

/* customer reviews section */

.customer-reviews-section{
    margin-top: 128px;
    background-color: #e5d8d0;
    max-width: 1440px;
}

.customer-reviews-section .section-title{
    padding-top: 120px;
    margin-bottom: 0px;
}
.review-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

.reviews{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 50px;
}

.reviews img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

/* footer related styles */
.footer {
    max-width: 1920px;
    height: 449px;
    margin: 0 auto;
    background: #111010;
    text-align: center;
}

.footer-content {
    margin-top: 128px;
}

.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    padding-top: 128px;
    padding-bottom: 24px;
}

.footer-title span {
    color: #FFFFFF;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 32px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
}